@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.fullcontainer
{
   margin-top: 50px;
   background: #fff;
    
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 80%;
    height: 150px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    /* border: 1.75px solid #DEE6EF; */
    margin-left: 130px;
    margin-top: 20px;
    z-index: 2;
}

.swiper-slide
{
    height: 110px;
    width: 100px; 
   padding-right: 20px;
   transform:scale(.9);

   border: 2px solid lightgray;
   border-radius: 10px;
   margin-top: 10px;
}


.swiper-slide a
{
    text-decoration: none;
}

.offer-type
{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: #073f7e;
    font-size: 14px;
    font-weight: 800;
}
.offer-highlight
{
    float: right;
    margin-top: 1px;
    margin-right: 250px  ;
    border: 1px solid #FF8668;
    color:#FF8668 ;
    font-size: 14px;
    font-weight: 800px;
    padding: 8px;
    border-radius: 6px;
}

.slide
{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -55px;
    margin-right:200px;

}
.offer-img
{
    height: 70px;
    width: 100px;
    float: right;
    margin-top: -85px;
}
